:root {
    --drkpurple: #654062;
    --wrmyellow: #FFD66B;
    --coralorng: #FF9D72;
    --kindagrey: #F4F4F4;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--kindagrey);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding: 10px;
    background-color: var(--drkpurple);
    color: var(--kindagrey);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: max-content;

}

.header h1 {
    display: inline-block;
    font-family: cursive;
    font-size: 48px;
    position: absolute;
    left: 30px;
    top: 10px;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 16px;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

.header a {
    text-decoration: none;
    color: var(--coralorng);
}

.hero {
    height: 600px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/CM_E07_bacon.png");
    background-size: cover;
    background-position: top;
}
p {
    background-color: var(--kindagrey);
}
section {
    margin: 3%;
    border: none;
    padding: 5%;
    display: flex;
    background-color: var(--wrmyellow);
    color: black;
}
section > h3 {
    border-bottom: 2px var(--drkpurple);
    padding-bottom: 2px;
}
footer {
    display: flex;
    flex-direction: column;
    color: var(--kindagrey);
    background-color: var(--drkpurple);
    justify-content: space-around;
    align-items: center;
    padding: 3%;
}

footer .contact-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
footer a {
    text-decoration: none;
    color: var(--drkpurple);
    padding: 10px;
    background-color: var(--wrmyellow);
    border: none;
    border-radius: 5%;
    display: block;
    margin: 0 10px;
}