/* Defines page color pallete */
:root {
    --drkpurple: #382336;
    --wrmyellow: #FFD66B;
    --coralorng: #FF9D72;
    --kindagrey: #F4F4F4;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    background-color: var(--kindagrey);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER elements */
.header {
    padding: 20px;
    background-color: var(--drkpurple);
    color: var(--kindagrey);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.header h1 {
    display: inline-block;
    font-family: cursive;
    font-size: 3rem;
    margin: 0;
}
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    font-size: 16px;
}
.header nav ul {
    list-style-type: none;
}
.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
.header a:hover {
    border-bottom: 2px solid #FF9D72;
  }
.header a {
    text-decoration: none;
    color: var(--coralorng);
}
/* Hero or Cover Photo */
.hero {
    height: 600px;
    width: 100%;
    background-image: url("../images/CM_E07_bacon.png");
    background-size: cover;
    background-position: top;
}
/* Container holds the main page elements */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--coralorng);
}
.about-me, .work, .resume, .contact {
    display: flex;
    flex-direction: flex-start;
}
/* Main-content exists within the container element and hold the About Me, Portfolio, and Resume sections. */
.main-content {
    border: none;
    margin-top: 3%;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: var(--wrmyellow);
    width: 90%;
    color: var(--drkpurple);
}
/* Each section is labeled with an h3 */
.main-content > h3 {
    display: inline-block;
    border-bottom: 2px solid var(--drkpurple);
    padding-bottom: 2px;
    flex: initial;
    font-family: cursive;
    font-size: 2rem;
}
/* The right side of each section. */
.section-right {
    width: 75%;
    display: flex;
    flex-direction: column;
    background-color: var(--kindagrey);
    padding: 5%;
    line-height: 1.5;
    margin-bottom: 5px;
}
.section-right p {
    margin-bottom: 1.5em;
}

/* Differenttiating from the background of the other section-rights */
#work-section {
    background-color: var(--wrmyellow);
    padding: 0;
}
/* This holds the image of the portfolio examble and its label */
.example-container {
    position: relative;
    text-align: center;
    color: white;
    background-color: var(--wrmyellow);
    height: 20%;
  }
.example-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: bolder;
    color: var(--kindagrey);
    background-color: var(--drkpurple);
    padding: 1em;
    border-radius: 13%;
  }
/* The bottom row of the portfolio section shows two smaller images */
  .portfolio-bottom-row {
      display: flex;
  }
.section-right img {
    margin-bottom: 5px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
    width: 100%;
    
}
.section-right a:hover {
    border-bottom: 2px solid #382336;
  }
section:last-of-type { 
    margin-bottom: 5%;
}
/* FOOTER STYLING */
footer {
    display: flex;
    flex-direction: flex-start;
    color: var(--kindagrey);
    background-color: var(--drkpurple);
    justify-content: space-between;
    align-items: center;
    padding: 3% 10%;
}
footer h3 {
    display: inline-block;
    padding-bottom: 2px;
    flex: initial;
    font-family: cursive;
    font-size: 2rem;
    border-bottom: 2px solid var(--kindagrey);
}
footer a:hover {
    background-color: var(--coralorng);
    border-radius: 5%;
  }
footer .contact-info {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
/* The footer links are styled to look like buttons */
footer a {
    text-decoration: none;
    color: var(--drkpurple);
    padding: 10px;
    background-color: var(--wrmyellow);
    border: none;
    border-radius: 5%;
    display: block;
    margin: 0 10px;
    font-size: 1.25rem;
}